@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Upload Page";
}

<h1>@ViewData["Title"]</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>Please upload an .mp3 file.</p>

    <div class="jumbotron bg-white">
        <h1 class="display-4">Upload</h1>
        <p class="lead">This is the mouth of the machine learning algorithm that will pass judgement against your upload.</p>
        <hr class="my-4">
        <center>
            <div id="container" class="form-group has-success">
                <input type="file" id="fileUploadInput" class="form-control-file" name="files" multiple />
                <br />
            </div>
        </center>
        <p class="lead">
            <div class="alert alert-dismissible alert-primary">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Notice</h4>
                <p class="mb-0">The upload will begin as soon as you select a file.</p>
            </div>
            

        </p>
    </div>




}
else
{
    <p>Register to upload a song.</p>
}

@section scripts{
    <script>
        $(function () {
            $(document).ready(function () {

                $("#fileUploadInput").change(function () {

                    var files = $("#fileUploadInput").prop("files");
                    var formData = new FormData();
                    for (let i = 0; i != files.length; i++) {
                        console.log("i: " + i + " File Name: " + files[i].name);
                        formData.append("files", files[i]);
                    }

                    $.ajax({
                        type: "POST",
                        url: "https://localhost:44344/api/upload",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            alert("Hit Upload");
                        },
                        error: function (data) {
                            alert("Error, did not hit.");
                        }
                    });
                });
            });
        });
    </script>
}