@{
    ViewData["Title"] = "Upload Page";
}

    <div class="text-center">
        <h1 class="display-4">Upload</h1>
        <center>
            <div id="container">
                <h1>dCC Capstone</h1>
                <input type="file" id="fileUploadInput" name="files" multiple />
                <br />
                <progress></progress>
            </div>
        </center>
    </div>
